/*
*Powered by #asauz
*Edit: 30.04.2018
*/

html, body {
line-height : 1.5;
color : rgb(0, 0, 0);
font-size : 1em;
font-style : normal;
margin: 5px auto;
max-width: 80%;
background :  #000; 
font-family:  Arial;
/*font-family : "Times New Roman", serif, sans-serif, tahoma;*/}

*, *:before, *:hover, *:after {box-sizing : border-box;}

header {
width : 100%;
padding : 20px;
font-size : 25px;
color : black;
font-weight : bold;
text-align : center;
align-items : center;
justify-content : center;
background : cyan;
text-transform : uppercase;
border-radius :  10px 10px 0 0;}

menu {
margin : 0;
color : black;
width : 100%;
padding : 10px;
font-weight : bold;
text-align : center;
background : cyan;
align-items : center;
justify-content : center;
text-transform : uppercase;}

footer {
width : 100%;
padding : 10px;
font-size : 13px;
font-weight : bold;
text-align : left;
background : cyan;
color : black;
text-transform : uppercase;
border-radius : 0 0 10px 10px;}

/* nav */
/*a:link {color : red;}

a:link, a:visited {
text-align : center;
padding : 14px 25px;
display : inline-block;
text-decoration : none;
background : #f44336;
color : rgb(255, 255, 255);}

a:hover, a:active {background : red;}

nav {overflow : hidden; background : #333;}

nav a {
float : left;
color : #f2f2f2;
display : block;
text-align : center;
padding : 10px;
text-decoration : none;}

nav a:hover {color : rgb(255, 255, 255); background : #2da3c9;}

.active {color : rgb(255, 255, 255); background : #2da3c9;}*/
/* end nav */

/* input */
input {
color : black;
width : 35%;
border : none;
border-radius : 20px;
margin : 8px 0;
background : white;
padding : 12px 10px;
box-sizing : border-box;
transition : width 0.2s ease-in-out;}

input:focus {width : 100%;}

textarea {
width : 100%;
height : 200px;
padding : 12px 20px;
box-sizing : border-box;
border : none;
border-radius : 20px;
background : white;
color : black;
resize : none;}

select {
width : 100%;
padding : 16px 20px;
border : none;
border-radius : 20px;
background : #f1f1f1;}
/* end input */

/*other*/


news {
	color : black;
	display: block;
	padding: 10px;
	background : white;}
	
/* background */
yashibg, .yashilbg { background : #00ff00; color : rgb(255, 255, 255);}
qorabg, .qorabg {background : rgb(0, 0, 0); color : rgb(255, 255, 255);}
qizilbg, .qizilbg {background : rgb(255, 0, 0); color : rgb(255, 255, 255);}
code, .code, kbd, .kbd, pre, .pre, samp, .samp {background : transparent;}

/* font */
/* family */
.foblique {font-family : oblique;}

mark, .mark {
color : #fff;
font-family: normal;
background : rgb(255, 0, 0);}

/* size */
sub, sup, .small, small {font-size : 80%;}
.size10 {font-size : 0.625em;}
.size15 {font-size : 0.9375em;}
.size20 {font-size : 1.25em;}
.size30 {font-size : 1.875em;}
.size50 {font-size : 3.125em;}

/* style */
i, .i, em, .em {font-style : italic;}

/* weight */
b, .b, strong, .strong {font-weight : bold;}

h1, h2, h3, h4, h5, h6 {
font-weight : bold;
text-transform : uppercase;}

/* color */
yashil, .yashil {color : #00ff00;}
qora, .qora {color : rgb(0, 0, 0);}
kuk, .kuk {color : rgb(0, 0, 255);}
qizil, .qizil {color : rgb(255, 0, 0);}
sariq, .sariq {color : rgb(255, 255, 0);}
oq, .oq {color : rgb(255, 255, 255);}
orange, .orange {color : rgb(255, 165, 0);}
oyashil, .oyashil {color : rgb(0, 255, 0);}
okuk, .okuk {color : rgb(0, 255, 255);}
okuk, .kulrang {color : rgb(128, 128, 128);}

/* align */
ong, .left {
left : 0;
text-align : left;
position : absolute;}

chap, .right {
right : 0;
text-align : right;
position : absolute;}

center, .center {
margin : auto;
text-align : center;
align-items : center;
justify-content : center;}

.justify {
text-align : justify;
position : absolute;}

.indent, article p {
text-align : justify;
text-indent : 0.7cm;}

/* display › float */
.dnone {display : none;}
.dblock {display : block;}
.dinline {display : inline;}

.dflex {display : flex;}
.dcolumn {flex-direction : column;}
.dcolumn-reverse {flex-direction : column-reverse;}
.drow {flex-direction : row;}
.drow-reverse {flex-direction : row-reverse;}

.ltr {direction : ltr;} .rtl {direction : rtl;}

.fleft {float : left; direction : ltr;}
.fright {float : right; direction : rtl;}
.fcenter {align-items : center; justify-content : center;}

/* decoration */
.tnone {text-decoration : none;}
.toverline {text-decoration : overline;}
u, ins, .tunderline {text-decoration : underline;}
del, .del, strike, .strike {text-decoration : line-through;}

/* transform */
.tcapitalize {text-transform : capitalize;}
.tlowercase {text-transform : lowercase;}
.tuppercase {text-transform : uppercase;}

.tcaps {font-variant : small-caps;}

/* box-shadow */
.soya {box-shadow : 10px 10px 5px grey;}
.soya-oq {color : rgb(255, 255, 255); text-shadow : 2px 2px 4px rgb(0, 0, 0);}
.soya-kuk {color : rgb(255, 255, 255);text-shadow : 1px 1px 2px rgb(0, 0, 0), 0 0 25px blue, 0 0 5px darkblue;}
.soya-border-full {box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

/* other */
pre, .pre {overflow : auto;}

.mspacing {word-spacing : -0.3125em;}
.tspacing {word-spacing : 0.625em;}

hr {
height : auto;
border-radius : 0.625em;
margin : 1.56em 0 1.56em;
border : #404040 solid 0.0625em;}

time {color : red;}

bg {color : black; background : white;}

/* border */
.binset {border-style : inset;}
.bsolid {border-style : solid;}
.bridge {border-style : ridge;}
.bnone {border-style : none;}
.boutset {border-style : outset;}
.bdotted {border-style : dotted;}
.bdouble {border-style : double;}
.bhidden {border-style : hidden;}
.bgroove {border-style : groove;}
.bdashed {border-style : dashed;}
.bmix {border-style : dotted dashed solid double;}

/* outline */
.oinset {outline-style : inset;}
.osolid {outline-style : solid;}
.oridge {outline-style : ridge;}
.ooutset {outline-style : outset;}
.odotted {outline-style : dotted;}
.odouble {outline-style : double;}
.ogroove {outline-style : groove;}
.odashed {outline-style : dashed;}

/* list */
.lnone {list-style : none;}
.lcircle {list-style : circle;}
.lspuare {list-style : spuare;}
.lalpha {list-style : lower-alpha;}
.lroman {list-style : upper-roman;}

/* image */
picture img {width : 100%; height : auto;}

img:hover {opacity : 0.5; transform : scaleX(-1);}

picture img[class="opactiy"] {opacity : 0.4000000059604644775390625;}

picture img[class="r50"] {border-radius : 50%;}

/* qator */
.qator2 {
border : none;
padding : 15px;
column-count : 2;
column-span : all;
column-gap : 40px;
column-rule : #909090 1px solid;}

.qator3 {
border : none;
padding : 15px;
column-count : 3;
column-span : all;
column-gap : 40px;}

.qator4 {
border : none;
padding : 15px;
column-count : 4;
column-span : all;}